@import "tailwindcss";

body {
  @apply bg-slate-950 text-slate-100;
}

/* En tu archivo index.css o App.css */
.background-mobile {
  display: none;
}

@media (max-width: 768px) {
  .background-mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, #003333 0%, #000000 100%);
    z-index: -1;
  }
}